*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;


    background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

section > h1{
    color:white;
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

section > p{
    font-size: 25px;
    color:white;
    text-transform: capitalize;
}