
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

.container > p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.container2 >p{

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

     font-family: "Edu AU VIC WA NT Dots", cursive;
}

.container3 >p{
    /* font-family: "Noto Sans JP", sans-serif; */
    font-family: "Noto Sans KR", sans-serif;
}