
.container{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.container > .row1{
    display: flex;
}

.container > .row2{
    display: flex;
}
 .white{
    height: 50px;
    width: 50px;
    background-color: white;
}

 .black{
    height: 50px;
    width: 50px;
    background-color: black;
}